@model IEnumerable<VgcCollege.Domain.Models.Branch>
@{
    ViewData["Title"] = "Branches";
}

<div class="d-flex justify-content-between mb-3">
    <h1>@ViewData["Title"]</h1>
    <a asp-action="Create" class="btn btn-success">Create Branch</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>@item.Name</td>
            <td>@item.Address</td>
        </tr>
    }
    </tbody>
</table>